/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body * {
    box-sizing: border-box;
}

/* {layout} */
@media screen and (min-width: 401px) {
    .layout {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 121, 191, 1);
        height: 100vh;
    }
}

@media screen and (max-width: 400px) {
    .layout {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 121, 191, 1);
        height: 100vh;

    }
}

/* <!-- {HeaderComponent} --> */
@media screen and (min-width: 401px) {
    .header {
        display: flex;
        background: rgba(0, 103, 163, 1);
        height: 55px;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
}

@media screen and (max-width: 400px) {
    .header {
        display: flex;
        flex-direction: column;
        background: rgba(0, 103, 163, 1);
        height: 55px;
        align-items: end;
        padding: 15px;
    }
}

@media screen and (max-width: 400px) {
    .header-h1 {
        display: none;
    }
}

@media screen and (min-width: 401px) {
    .header-h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        font-size: 28px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
    }
}

/* <!-- {ProfileButton} --> */
.profile-button {
    display: flex;
    flex-direction: row;
    width: 64px;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.profile-avatar {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.profile-arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: absolute;
    width: 134px;
    height: fit-content;
    top: 61px;
    right: 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    margin: 0;
    list-style: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.dropdown-menu-item {
    margin: 5px;
    cursor: pointer;
}

.profile-rectangle {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 55px;
    right: 53px;
}

/* {FooterComponent} */
.footer {
    display: flex;
    flex-direction: row;
    background: rgba(0, 103, 163, 1);
    height: 55px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.footer-groupe {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 581px) {
    .footer-h1 {
        color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media screen and (max-width: 580px) {
    .footer-h1 {
        display: none;
    }
}

/* {ContentComponent} */
@media screen and (min-width: 1200px) {
    .layout-content {
        width: 100vw;
        min-height: calc(100vh - 55px - 55px);
        background-color: rgba(0, 121, 191, 1);
        padding: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .layout-content {
        /* width: 100vw; */
        height: fit-content;
        /* min-height: calc(100vh - 55px - 55px); */
        background-color: rgba(0, 121, 191, 1);
        padding: 20px;
    }
}

/* <!-- {ContentComponentBoard} --> */
@media screen and (min-width: 1200px) {
    .layout-content-board {
        /* display: none; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1199px) {
    .layout-content-board {
        /* display: none; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

/* <!-- {ContentComponentBoardColumn} --> */
@media screen and (min-width: 1200px) {
    .layout-content-board-column {
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
        min-width: 250px;
        height: fit-content;
        min-height: 50px;
        max-height: calc(100vh - 55px - 55px - 50px);
        background: rgba(235, 236, 240, 1);
        border-radius: 10px;
        margin: 5px;
        overflow: auto;
    }
}

@media screen and (max-width: 1199px) {
    .layout-content-board-column {
        display: flex;
        flex-direction: column;
        padding: 10px 5px;
        min-width: 250px;
        height: fit-content;
        background: rgba(235, 236, 240, 1);
        border-radius: 10px;
        margin: 5px;
    }
}

.layout-content-board-column-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

/* <!-- {AddCard}  добавить новую -->   */
/* textarea */
.layout-content-board-column-input {
    display: inline;
    align-items: baseline;
    padding: 5px;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    margin: 10px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.layout-content-board-column-input::placeholder {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.349);
}

.layout-content-board-column-button-groupe {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.layout-content-board-column-button-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 121, 191, 1);
    cursor: pointer;
}

.layout-content-board-column-button-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background: rgba(255, 255, 255, 1);
    color: rgba(94, 108, 132, 1);
    cursor: pointer;
}

/* {Select} */

.layout-content-board-column-select-groupe {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 272px;
    height: fit-content;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}

.layout-content-board-column-arrow {
    background: rgba(255, 255, 255, 1);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.layout-content-board-column-select {
    width: 245px;
    display: inline;
    align-items: baseline;
    height: fit-content;
    min-height: fit-content;
    background: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    outline: none;
    resize: none;
    border-width: 0;
}

.layout-content-board-column-select::placeholder {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.349);
}

.layout-content-board-column-list {
    position: relative;
    max-width: 272px;    
    border-radius: 15px;
    top: -15px;
}

.layout-content-board-column-option0 {
    max-width: 100%;
    padding: 5px;
    padding-left: 5px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.layout-content-board-column-option1 {
    max-width: 100%;
    padding: 15px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
}

.layout-content-board-column-option:hover {
    max-width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* {AddCard} */
.layout-content-board-column-addcard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    height: fit-content;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(94, 108, 132, 1);
    cursor: pointer;
}

/* {ContentComponentBoardColumnTask} */
.layout-content-board-column-task {
    display: inline;
    align-items: baseline;
    padding: 5px;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    margin: 10px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

/* <!-- {ContentComponentTaskDetail} --> */
.layout-content-task-detail {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 15px;
}

.layout-content-task-detail-title-groupe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout-content-task-detail-title {
    width: 100%;
    height: fit-content;
    min-height: 28px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

.layout-content-task-detail-crost {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.layout-content-task-detail-text {
    width: 100%;
    height: fit-content;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}