/* <!-- {AddCard}  добавить новую -->   */
/* textarea */
.layout-content-board-column-input {
    display: inline;
    align-items: baseline;
    padding: 5px;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    margin: 10px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.layout-content-board-column-input::placeholder {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.349);
}

.layout-content-board-column-button-groupe {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.layout-content-board-column-button-blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 121, 191, 1);
    cursor: pointer;
}

.layout-content-board-column-button-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background: rgba(255, 255, 255, 1);
    color: rgba(94, 108, 132, 1);
    cursor: pointer;
}