
/* {ContentComponentBoardColumnTask} */
.layout-content-board-column-task {
    display: inline;
    align-items: baseline;
    padding: 5px;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    margin: 10px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}
