
/* {ContentComponent} */
@media screen and (min-width: 1200px) {
    .layout-content {
        width: 100vw;
        min-height: calc(100vh - 55px - 55px);
        background-color: rgba(0, 121, 191, 1);
        padding: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .layout-content {
        width: 100vw;
        height: inherit  ;
         min-height: calc(100vh - 55px); 
        background-color: rgba(0, 121, 191, 1);
        padding: 20px;
    }
}
